html {
  box-sizing: border-box;
  padding: 5px;
  margin: .9rem;
  font-family: Ubuntu, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/******************* body *******************/

body {
  background-color: #fff;

}

a {
  text-decoration: none;
  color: #6c8fe0;
  font-size: 1.125rem;
}

nav {

}

a:hover {

}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

header {
  background-color: #18294f;
}
